body{
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}


.calculator{
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: black;
}


#display{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}


.buttons{
    color: blue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}


button{
    height: 40px;
    font-size: 18px;
}